body{font-size: 16px;color: #333333;font-family: 'Poppins', sans-serif;}
table thead{
    background-color: #4c4c4c;
    color:#ffffff;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
    opacity: 0.5;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #e31e24;
    border-color: #e31e24;
}
table.dataTable thead > tr > th{vertical-align:top;}
.years{padding: 10px 20px;font-size:16px;margin-top:20px;border-radius: 5px;}

.form-control{
   display: block;
   width: 100%;
   padding: 0.375rem 0.75rem;
   line-height: 1.5;
   color: #495057;
   background-color: #fff;
   background-clip: padding-box;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
   transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
label {
    /* float: left; */
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 6px;
    padding-top: 10px;
}
span {
    overflow: hidden;
    padding: 0px 4px 0px 0px;
}
input {
  width: 70%;
}
.dashboard-heading{
 color: #333333;
}
.content-header{padding:15px 30px 0 30px;}
.content-header button.btn.btn-danger{margin-top: 15px;}
.content-header h1{font-size: 28px;font-weight: 500;}
.skin-blue .main-header .navbar .nav .open>a{background:#e31e24!important;}
.box{margin: 0px 15px;}
.body-line{
    border-top:2px solid #eee;
}
.body-attach{
    border-bottom: 1px solid #f5231e;color:#f5231e;
}
.body-attach:hover{
    border-bottom: 1px solid #d3120f;color:#d3120f;
}
.body-submit{
    margin-top:20px; margin-bottom:10px;
}
.btn-body{
    color: #ffffff;font-weight:500;font-size: 18px;background: #f0303d!important;padding: 10px 30px!important;border: none;
}
.request-body{
    text-align:center;background-color:#d2d6de;font-size:20px;
}
.body-line-content{
    border-top:2px solid #eee;margin-top:30px;
}
.checked {
    color: orange;
}
.box-body-content{
    background-color:#ffffff; padding:2px 3px 7px 7px;
}
.tbl-content{
    border-radius: 4px;border: none;color: white;padding: 4px 15px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;cursor: pointer;background-color: #f39c12
}
.form-sbmt{
    margin-top:10px;
}


.star-rating {
    line-height:32px;
    font-size:1.5em;
    margin-top: 20px;
}
.star-rating .fa-star{
    color: #ffb20d;
}

.error-msg{
    color: #e70606;
    font-size: 13px;
    margin-top: 5px;
}
.box-body{min-height: 350px;padding: 25px;}
.box-body .col-md-5{line-height: 18px;}
.ScrollStyle
{
    max-height: 300px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
}

input[type='radio']:checked:after {
    width: 28px;
    height: 28px;
    border-radius: 15px;
    top: -4px;
    left: -4px;
    position: relative;
    background-color: #ed3237;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 5px solid #ffdada;
}
	input[type='radio'] {
    margin: 4px 8px 0px;
    line-height: normal;
    width: 20px;
    height: 35px;
    vertical-align: top;
    --size: 2rem;
    block-size: var(--size);
    inline-size: var(--size);
	cursor: pointer;
}
.btn{padding: 2px 12px;margin: 0px 0px 10px 10px;}
.form-control{height:42px;font-size: 16px;}
.radio-inline{margin-bottom: 20px;}
input[type=file] { padding-top: 10px;}
textarea.form-control{height: 110px;}
.content-header .btn {padding: 5px 10px;}
.ScrollStyle .box-body-content:nth-child(even) {background-color: #ececec;margin: 5px 0px;}
.ScrollStyle .box-body-content:nth-child(odd) {background-color: #f9f9f9;}
.box-body-content{padding:20px;border-radius:5px; min-height: auto;}
.box-body-content h4{font-weight: 600;}
.box-body-content h5{font-size: 15px;font-weight: 600;}
.box-body-content h4 span{color: #868686;}

::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c0c0c0;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9e9e9e;
  }.box-body-content
  .Description{padding: 15px;}
  .Description h4{font-size:20px;font-weight: 600;}
  .Description h5{font-size:16px;font-weight: 600;}
  .body-right-content h5 span{font-size:16px;font-weight: 400;}
  .Description h5 i, .box-body-content h5 i{font-size:20px;color: #858585;font-weight: 500;margin-right: 5px;}

  .request-body{background: #e7e6e6;font-size: 22px;font-weight: 600;padding:15px 25px;border-radius: 10px 10px 0px 0px;text-align: left;}
  .body-right-content{padding: 25px;}
  .body-right-content h5{font-size:16px;font-weight: 600;padding-bottom: 10px;}
  .Priority{background: #f0303d;padding: 4px 10px;font-size:14px!important;border-radius: 5px;color: #ffffff;margin-left: 0px;}
  .Status{padding: 4px 10px;font-size:14px!important;border-radius: 5px;margin-left: 0px;}
  .radio-btn{margin-top: 20px;}
  .modal-title{font-size: 18px;font-weight: 600;}
  .modal-footer .btn{background:#f0303d;color: #ffffff;border: 0px;}
  .modal-footer{text-align:left;}
  .modal-footer .btn:hover, .modal-footer .btn:focus{background:#f0303d;border: 0px;}
  .low{background: #f9b144;color: #ffffff;border-radius: 5px;padding: 4px 10px;font-size: 12px;}
  .medium{background: #89b277;color: #ffffff;border-radius: 5px;padding: 4px 10px;font-size: 12px;}
  .high{background: #f5231e;color: #ffffff;border-radius: 5px;padding: 4px 10px;font-size: 12px;}
  .low:hover,.medium:hover,.high:hover{color: #ffffff;}
  /*  */
.ck.ck-editor__editable_inline{height:150px}
.open{background: #cfe1ed;color: #1d445e;}
.wip{background:#fdedd9;color:#643c0b;}
.information{background:#d9e4fd;color:#0b3564;}
.feedback{background:#d8f4ef;color:#0b6a59}
.onhold{background:#f4f2d8;color:#6a620b}
.close1{background:#ffd0d6;color:#6a0b0b;}
.required_min{color:#d3120f}
.share-feedback{margin: 30px 0px;}
.date-format{color: #868686;font-size: 14px;}

  .date-container {
    position: relative;
    float: left;
    width:358px;
  }
    .date-text {
      position: absolute;
      top: 6px;
      left: 12px;
      color: #aaa;
    }

    .date-icon {
      position: absolute;
      top: 15px;
      right: 29px;
      cursor: pointer;
      color: #aaa;
    }

    h5 span.right-label { width: 150px; float: left; font-weight: 600;}
    .modal-footer {
        padding: 15px;
        text-align: left;
        border-top: 1px solid #e5e5e5;
    }
    .modal-body {
        position: relative;
        padding: 15px 15px 30px 15px;
    }
    table.dataTable thead>tr>th.sorting{font-weight: 500;}
    table.table-bordered.dataTable td{font-size: 15px; padding: 15px 10px;}
    .small-box>.inner{padding: 40px;}
    .bg-aqua{background: rgb(101, 219, 255);
        background: radial-gradient(45deg, rgba(19,186,255,1) 0%, rgb(101, 219, 248) 50%, rgba(101, 219, 255,1) 100%);border-radius: 8px;}
    .bg-green{background: rgb(5, 175, 97);
            background: radial-gradient(45deg, rgba(5, 175, 97,1) 0%, rgb(0, 149, 81) 50%, rgba(5, 175, 97,1) 100%);border-radius: 8px;}
    .bg-yellow{background: rgb(243, 156, 18, 97);
                background: radial-gradient(45deg, rgb(247, 167, 39) 0%, rgb(243, 156, 18) 50%, rgba(243, 156, 18,1) 100%);border-radius: 8px;}
    .small-box h3{font-size: 42px;font-weight: 600;}
    .small-box p{font-size: 18px;}
    .dataTables_info{font-size: 14px;margin: 10px 0px;}
    .main-footer{font-size: 13px;}
    .sidebar-menu .treeview-menu>li>a{padding: 8px 5px 8px 15px;}
    .skin-blue .sidebar-menu>li.header{color: #879aa3;}
    div.dataTables_paginate ul.pagination{margin: 10px 0px!important;}
    .col-md-4 .box{margin-left: 0px;}
    .col-md-8 .box{margin-right: 0px;}
    .mar-left15{margin-left: 15px;}

    .login-page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
      }
      a{color: #333333;font-size:16px;}
  a:hover{color: #333333;font-size:16px;}

      .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #e31e24;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
        border-radius:5px;
      }
      .form button:hover,.form button:active,.form button:focus {
        background: #e31e24;
      }
      .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        font-size: 12px;
      }
      .form .message a {
        color: #4CAF50;
        text-decoration: none;
      }
      .form .register-form {
        display: none;
      }
      .container {
        position: relative;
        z-index: 1;
        max-width: 300px;
        margin: 0 auto;
      }
      .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
      }
      .container .info {
        margin: 50px auto;
        text-align: center;
      }
      .container .info h1 {
        margin: 0 0 15px;
        padding: 0;
        font-size: 36px;
        font-weight: 300;
        color: #1a1a1a;
      }
      .container .info span {
        color: #4d4d4d;
        font-size: 12px;
      }
      .container .info span a {
        color: #000000;
        text-decoration: none;
      }
      .container .info span .fa {
        color: #EF3B3A;
      }
           .profile-img{border-radius:100%;}
           .login-logo {
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 0.9rem;
            text-align: center;
        }
        .card {
            box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
            margin-bottom: 1rem;
        }
        .float-left{float: left;}
        .login-card-body, .register-card-body {
            background-color: #fff;
            border-top: 0;
            color: #666;
            padding: 20px;
        }
        .login-box-msg, .register-box-msg {
            margin: 0;
            padding: 0 20px 20px;
            text-align: center;
        }
        .input-group {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: stretch;
            align-items: stretch;
            width: 100%;
        }
        .input-group-append, .input-group-prepend {
            display: -ms-flexbox;
            display: flex;
        }
        .input-group-append {
            margin-left: -1px;
        }
        .mb-3, .my-3 {
            margin-bottom: 1rem!important;
        }
        .input-group-text {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding: 0.375rem 0.75rem;
            margin-bottom: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            text-align: center;
            white-space: nowrap;
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
        .login-page, .register-page {
            background: #d2d6de url(../img/mantinance-bg.jpg) no-repeat;
            background-size: cover;
            background-position: bottom right;background-attachment: fixed;
        }
        div.dataTables_scrollBody>table>tbody>tr td:nth-child(2){width: 30%;white-space: normal;max-width: 200px;-webkit-line-clamp: 2;
            -webkit-box-orient: vertical;}
.error-msg-alert{text-align:center;}
.dataTables_scrollHeadInner, div.dataTables_scrollHead table.table-bordered,.dataTables_scrollBody table{width:100%;}
.karam-logo{text-align: center;padding: 15px 0px;}
  @media only screen and (max-width: 600px) {
    .karam-logo{display: none;}
    div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter{
      text-align: left;
  }
  div.dataTables_wrapper div.dataTables_filter input{display: block;margin: 10px 0px 0px 0px; width: 100%;}
  div.dataTables_wrapper div.dataTables_filter label{display: block;margin-left: 0px}
  .dashboard-heading {float: left;}
  .box { margin:20px 0px 20px 0px;}
  .body-right-content {padding: 15px;}
  h5 span.right-label {width: 120px;}
  .content{padding:  0px 15px;}
  .body-attach{line-height: 24px;}
  .Description h4 {font-size: 18px;font-weight: 500;line-height: 28px;}
  .content-header {padding: 15px 15px 0 15px;}
  .modal-title{float: left;}
  .float-mobile-left{float: left;margin-top: 10px;}
  .col-sm-4.radio-btn{float: right;}
  .body-right-content h5 span{font-size: 14px;}
  .content-header h1 {font-size: 20px;font-weight: 600; }
  .mar-left15{margin-left: 0px;}
  label {margin-left: 0px;margin-top: 0px;padding-top: 0px;}
  .small-box>.inner{padding:20px 10px;}
  button.btn.btn-primary.btn-body {margin-left: 0px;}
  .box-body-content{min-height: auto; word-break: break-all;}
  .main-footer {font-size: 12px; text-align: center;}
 }
